<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <a href="draw.html"><img src="{% static 'jan_ken_app/gu.gif' %}" width="200" height="200"></a>
    <a href="lose.html"><img src="{% static 'jan_ken_app/tyoki.gif' %}" width="200" height="200"></a>
    <a href="win.html"><img src="{% static 'jan_ken_app/pa.gif' %}" width="200" height="200"></a>
    
    <p>point{{count}}</p>
</body>
</html>